In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('lung_cancer_examples.csv')
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [3]:
data = df[['Age', 'Smokes', 'AreaQ', 'Alkhol', 'Result']]
target = df['Result']
data.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [4]:
df.shape

(59, 7)

In [5]:
target.shape

(59,)

In [6]:
data_train, data_test, target_train, target_test = train_test_split(data, target, test_size=0.2)

In [7]:
print(data_train.shape)
print(target_train.shape)

(47, 5)
(47,)

In [8]:
print(data_test.shape)
print(target_test.shape)

(12, 5)
(12,)

In [9]:
model = LogisticRegression()

In [10]:
model.fit(data_train, target_train)

LogisticRegression()

In [11]:
target_pred = model.predict(data_test)
target_pred

array([1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [12]:
print(len(target_pred))

12

In [13]:
confusion_matrix(target_test, target_pred)

array([[5, 0],
       [0, 7]], dtype=int64)

In [14]:
print(classification_report(target_test, target_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         7

    accuracy                           1.00        12
   macro avg       1.00      1.00      1.00        12
weighted avg       1.00      1.00      1.00        12

In [15]:
accuracy_score(target_test, target_pred)

1.0

In [16]:
print('ðŸ‘ŒðŸ˜Ž')

ðŸ‘ŒðŸ˜Ž